@import '../../../../../../styles/variables';

.kReport {
  padding-bottom: 24px;
  margin-bottom: 0 !important;
}

.overview-total-metrics {
  display: flex;
  flex-wrap: wrap;
  padding: 0 24px;

  .overview-total-metric {
    flex: 1 0 21%;
    line-height: 2;

    .metric-value {
      font-weight: bold;
      color: $kGrayscale1;
    }

    .metric-unit {
      padding-left: 2px;
      font-size: 13px;
      font-weight: bold;
      color: #888888;
    }

    .metric-label {
      padding-left: 8px;
      color: $kGrayscale1;
    }
  }
}
